.q-card{
    border-radius: 20px;
    margin: 30px;
    padding: 40px;
}

.q-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    .q-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .q-card h2{
        font-size: 20px;
    }
}