.quiz img{
    background-color: black;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.quiz{
    border: 1px solid lightgrey;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
    padding: 10px;
}
.quiz:hover{
    box-shadow: 15px 20px 15px #888888;
    margin-top: 5px;
    padding: 3px;
}
.card-details{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.btn:hover{
    background-color: darkblue;
}