.lottie{
    width: 70%; 
    margin-left: 15%;
    margin-top: -15%;
    margin-bottom: -10%;
}

.header{
    margin-bottom: 0%;
}
.header img{
    height: 90%;
}

.topic{
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 10px 8px #888888;
}
.topic:hover{
    box-shadow: 10px 15px 10px #888888;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .lottie{
        width: 100%;
        margin-left: 5px;
        
    }
}